.description{
    width: 60%;
    height: calc(100% - 50px);
    position: relative;
}
.cardblockCss{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    min-height:250px;
    height: 250px;
  
    h5{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    p{
        width: 100%;
        text-align: center;
        padding: 20px;
        max-height: 50%;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            &::after{
                z-index: 1656;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 5px;
                content: attr(date-text);
                padding: 30px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

    }
}
.imageContainer{
    position: relative;
    width: 40%;
    height: calc(100% - 50px);
    overflow: hidden;
    img{
        position: absolute;
        height: auto;
        min-height: 100%;
        width: 100%;
    }
}

.btnparticipation{
    background-color: #333;
    border: none;
    font-family: sans-serif;
    height: 50px !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    cursor: pointer;
    &:hover{
        background-color: rgb(31, 31, 31);
    
      }
}