<!-- Page-header start -->
<div class="">
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="icofont icofont-exclamation-square bg-c-blue"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Mes Réclamations</h4>
            </span>
            <span>Consulter la liste de mes réclamations</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/'">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a>scolarité</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->
<!-- Status Tabs start -->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset (tabChange)="this.changeTab($event)">
        <!-- Les Demandes en Attente  -->
        <ngb-tab title="En Attente" [id]="2">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Les demandes en attente</h5>
                  <button type="button" class="btn btn-outline-primary float-right" [routerLink]="['/dashboard/new-reclamation']" >
                    <i class="icofont icofont-ui-add"></i>Ajouter
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  <!-- Search Field -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="icofont icofont-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="rechercher..." [(ngModel)]="search" id="listSearch">
                  </div>
                  <!-- Data Table  -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Message de Réclamation</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reclamation of enAttente | searchFilter: search | slice: (page-1) * pageSize : page * pageSize ; let i = index ">
                        <th scope="row">{{ reclamation.id_reclamation }}</th>
                        <td>{{ reclamation.contenu }}</td>
                        <td>{{ reclamation.date_reclamation | date: "dd-MM-yyyy" }}</td>
                        <td>
                          <button type="button" class="btn btn-light mr-1">
                            <i class="icofont icofont-refresh"></i>Relancer La Demande
                          </button>
                          <button type="button" class="btn btn-warning" (click)="deleteReclamation(reclamation.id_reclamation)">
                            <i class="icofont icofont-ui-delete"></i>Supprimer
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Alert message if Table is Empty -->
                  <div class="d-flex justify-content-center" *ngIf="!enAttente?.length">
                    <div class="alert alert-light" role="alert">
                      <i class="icofont icofont-info-circle"></i>Il n'y a aucune demande pour le moment.
                    </div>
                  </div>
                  <!-- Pagination  -->
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                    [collectionSize]="enAttente.length">
                    </ngb-pagination>
                      <!-- Items Par Page  -->
                      <div>
                        Items per Page:
                        <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- Les Demandes Acceptée -->
        <ngb-tab title="Accepté" [id]="1">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Les demandes en attente</h5>
                  <button type="button" class="btn btn-outline-primary float-right" [routerLink]="['/dashboard/new-reclamation']" >
                    <i class="icofont icofont-ui-add"></i>Ajouter
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  <!-- Search Field -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="icofont icofont-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="rechercher..." [(ngModel)]="search" id="listSearch">
                  </div>
                  <!-- Data Table  -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Message de Réclamation</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reclamation of accepted | searchFilter: search | slice: (page-1) * pageSize : page * pageSize ; let i = index ">
                        <th scope="row">{{ reclamation.id_reclamation }}</th>
                        <td>{{ reclamation.contenu }}</td>
                        <td>{{ reclamation.date_reclamation | date: "dd-MM-yyyy" }}</td>
                        <td>
                          <button type="button" class="btn btn-light mr-1">
                            <i class="icofont icofont-eye"></i>Consulter
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Alert message if Table is Empty -->
                  <div class="d-flex justify-content-center" *ngIf="!accepted?.length">
                    <div class="alert alert-light" role="alert">
                      <i class="icofont icofont-info-circle"></i>Il n'y a aucune demande pour le moment.
                    </div>
                  </div>
                  <!-- Pagination  -->
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                    [collectionSize]="accepted.length">
                    </ngb-pagination>
                      <!-- Items Par Page  -->
                      <div>
                        Items per Page:
                        <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- Les Demandes Refuser -->
        <ngb-tab title="Refuser" [id]="3">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Les demandes en attente</h5>
                  <button type="button" class="btn btn-outline-primary float-right" [routerLink]="['/dashboard/new-reclamation']" >
                    <i class="icofont icofont-ui-add"></i>Ajouter
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  <!-- Search Field -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="icofont icofont-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="rechercher..." [(ngModel)]="search" id="listSearch">
                  </div>
                  <!-- Data Table  -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Message de Réclamation</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reclamation of refused | searchFilter: search | slice: (page-1) * pageSize : page * pageSize ; let i = index ">
                        <th scope="row">{{ reclamation.id_reclamation }}</th>
                        <td>{{ reclamation.contenu }}</td>
                        <td>{{ reclamation.date_reclamation | date: "dd-MM-yyyy" }}</td>
                        <td>
                          <button type="button" class="btn btn-light mr-1">
                            <i class="icofont icofont-eye"></i>Consulter
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Alert message if Table is Empty -->
                  <div class="d-flex justify-content-center" *ngIf="!refused?.length">
                    <div class="alert alert-light" role="alert">
                      <i class="icofont icofont-info-circle"></i>Il n'y a aucune demande pour le moment.
                    </div>
                  </div>
                  <!-- Pagination  -->
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                    [collectionSize]="refused.length">
                    </ngb-pagination>
                      <!-- Items Par Page  -->
                      <div>
                        Items per Page:
                        <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<!-- Status Tabs end -->
