h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
/* angular-cli file: src/styles.css */
@import "../../../../../../node_modules/angular-calendar/css/angular-calendar.css";
h3 {
margin: 0 0 10px;
}

pre {
background-color: #f5f5f5;
padding: 15px;
}
/* angular-cli file: src/styles.css */
@import "../../../../../../node_modules/angular-calendar/css/angular-calendar.css";

.header{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
background-color: white;
padding: 10px;
border-radius: 15px;
.title{
display: flex;
align-items: center;
justify-content: center;
h3{
  margin: 0;
  padding: 0;
}
}
}
.bodyCalander{
margin-top: 4%;
width: 85%;
margin: 0 auto;
position: relative;
margin-bottom: 30px;
}
.prenevt{
flex: 1 1 100% !important;
}


.cardEventData{
height: auto;
width: 300px;
background-color: white;
padding: 7px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 20px;
width: 25vw;
max-width: 600px;
min-width: 300px;
}
.closebtn{
cursor: pointer;
height: 15px;
width: 15px;
}
.titre{
width: 100%;
text-align: center;
}
.datededebut{
font-size: 1.5rem;
}
.desc{
font-size: 1rem;
}

.flexpre{
display: flex;
flex-wrap: nowrap;
}
