                                                <!-- Basic Form Inputs card start -->
                                                <div class="card">
                                                  <div class="card-header">
                                                      <h5>Envoyer un demande</h5>
                                                      <div class="card-header-right"><i
                                                          class="icofont icofont-spinner-alt-5"></i></div>

                                                          <div class="card-header-right">
                                                              <i class="icofont icofont-spinner-alt-5"></i>
                                                          </div>

                                                      </div>
                                                      <div class="card-block">
                                                          <h4 class="sub-title">Envoyer demande </h4>
                                                          <form>
                                                            <div class="form-group row">
                                                              <label class="col-sm-2 col-form-label">cin</label>
                                                              <div class="col-sm-10">
                                                                  <input type="number" [(ngModel)]="cin" name="cin"
                                                                  class="form-control form-control-round"
                                                                  placeholder="saisir votre CIN">
                                                              </div>
                                                          </div>
                                                                      <div class="form-group row">
                                                                      <label class="col-sm-2 col-form-label">email</label>
                                                                      <div class="col-sm-10">
                                                                          <input type="email" [(ngModel)]="email" name="email"
                                                                          class="form-control form-control-round"
                                                                          placeholder="saisir votre email">
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-2 col-form-label">Equipe</label>
                                                                      <div class="col-sm-10">
                                                                          <select name="equipe"  [(ngModel)]="equipe" (change)="fun($event)"   class="form-control form-control-round">
                                                                              <option value="" >Choisir votre equipe</option>
                                                                              <option  *ngFor="let eq of equipes" value="{{eq.id_equipe}}" >{{eq.equipe}}</option>

                                                                          </select>
                                                                      </div>
                                                                  </div>


                                                                          <div class="form-group row">
                                                                              <label class="col-sm-2 col-form-label">Pourquoi voulez-vous être membre de ce club?</label>
                                                                              <div class="col-sm-10">
                                                                                  <textarea rows="5" cols="5" name="motivation" class="form-control " [(ngModel)]="motivation"
                                                                                  placeholder="    Motivation"></textarea>
                                                                              </div>
                                                                          </div>

                                                                          <div class="full field">
                                                                            <div class="center">
                                                                              <button class="btn btn-warning btn-round" (click)=sendRequest()>Envoyer</button>
                                                                              </div>
                                                                         </div>

                                                                      </form>


                                                                  </div>
                                                              </div>
                                                              <!-- Basic Form Inputs card end -->
