<!-- Page-header start -->
<div class="">
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="icofont icofont-file-document bg-c-blue"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Les Demandes des papiers administratifs</h4></span
            >
            <span
              >Consulter la liste des demandes des papiers
              administratifs</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/'">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a>scolarité</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->
<!-- Status Tabs start -->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset (tabChange)="this.changePapier($event)">
        <!-- Toutes les demandes -->
        <ngb-tab title="Les Demandes" [id]="2">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Toutes les demandes</h5>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <!-- Search Field -->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="icofont icofont-search"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="rechercher..." [(ngModel)]="search" id="listSearch">
                    </div>
                    <!-- Data Table  -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Type du demande</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prénom</th>
                          <th scope="col">Classe</th>
                          <th scope="col">Date</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let document of documents | searchFilter: search | slice: (page-1) * pageSize : page * pageSize ; let i = index " >
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ document.libelle_type_papier }}</td>
                          <td>{{ document.prenom }}</td>
                          <td>{{ document.nom }}</td>
                          <td>{{ document.libelle }}</td>
                          <td>{{ document.date | date: "dd-MM-yyyy" }}</td>
                          <td>
                            <div ngbDropdown container="body">
                              <button class="btn float-right" ngbDropdownToggle>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                              </button>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="openModal(document)">
                                  <i class="icofont icofont-eye"></i>Consulter
                                </button>
                                <button ngbDropdownItem (click)="accept(document.id_papier,document)">
                                  <i class="icofont icofont-check"></i>Accepter
                                </button>
                                <button ngbDropdownItem (click)="refuse(document.id_papier)">
                                  <i class="icofont icofont-close-line"></i>Refuser
                                </button>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Alert message if Table is Empty -->
                    <div class="d-flex justify-content-center" *ngIf="!documents?.length">
                      <div class="alert alert-light" role="alert">
                        <i class="icofont icofont-info-circle"></i>Il n'y a aucune demande pour le moment.
                      </div>
                    </div>
                    <!-- Pagination  -->
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                      [collectionSize]="documents.length">
                      </ngb-pagination>
                      <!-- Items Par Page  -->
                      <div>
                        Items per Page:
                        <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- Les Demandes en Attente  -->
        <ngb-tab title="En Attente" [id]="3">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Les demandes en attente</h5>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <!-- Search Field -->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="icofont icofont-search"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="rechercher..." [(ngModel)]="search" id="listSearch">
                    </div>
                    <!-- Data Table  -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Type du demande</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prénom</th>
                          <th scope="col">Classe</th>
                          <th scope="col">Date</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let document of DocumentsEnAttente | searchFilter: search | slice: (page-1) * pageSize : page * pageSize ; let i = index " >
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ document.libelle_type_papier }}</td>
                          <td>{{ document.prenom }}</td>
                          <td>{{ document.nom }}</td>
                          <td>{{ document.libelle }}</td>
                          <td>{{ document.date | date: "dd-MM-yyyy" }}</td>
                          <td>
                            <div ngbDropdown container="body">
                              <button class="btn float-right" ngbDropdownToggle>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                              </button>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="openModal(document)">
                                  <i class="icofont icofont-eye"></i>Consulter
                                </button>
                                <button ngbDropdownItem (click)="accept(document.id_papier,document)">
                                  <i class="icofont icofont-check"></i>Accepter
                                </button>
                                <button ngbDropdownItem (click)="refuse(document.id_papier)">
                                  <i class="icofont icofont-close-line"></i>Refuser
                                </button>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Alert message if Table is Empty -->
                    <div class="d-flex justify-content-center" *ngIf="!DocumentsEnAttente?.length">
                      <div class="alert alert-light" role="alert">
                        <i class="icofont icofont-info-circle"></i>Il n'y a aucune demande pour le moment.
                      </div>
                    </div>
                    <!-- Pagination  -->
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                      [collectionSize]="DocumentsEnAttente.length">
                      </ngb-pagination>
                      <!-- Items Par Page  -->
                      <div>
                        Items per Page:
                        <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- Les Demandes Accepté -->
        <ngb-tab title="Accepté" [id]="1">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Les demandes Accepté </h5>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <!-- Search Field -->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="icofont icofont-search"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="rechercher..." [(ngModel)]="search" id="listSearch">
                    </div>
                    <!-- Data Table  -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Type du demande</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prénom</th>
                          <th scope="col">Classe</th>
                          <th scope="col">Date</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let document of DocumentsAccepted | searchFilter: search | slice: (page-1) * pageSize : page * pageSize ; let i = index " >
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ document.libelle_type_papier }}</td>
                          <td>{{ document.prenom }}</td>
                          <td>{{ document.nom }}</td>
                          <td>{{ document.libelle }}</td>
                          <td>{{ document.date | date: "dd-MM-yyyy" }}</td>
                          <td>
                            <div ngbDropdown container="body">
                              <button class="btn float-right" ngbDropdownToggle>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                              </button>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="openModal(document)">
                                  <i class="icofont icofont-eye"></i>Consulter
                                </button>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Alert message if Table is Empty -->
                    <div class="d-flex justify-content-center" *ngIf="!DocumentsAccepted?.length">
                      <div class="alert alert-light" role="alert">
                        <i class="icofont icofont-info-circle"></i>Il n'y a aucune demande pour le moment.
                      </div>
                    </div>
                    <!-- Pagination  -->
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                      [collectionSize]="DocumentsAccepted.length">
                      </ngb-pagination>
                      <!-- Items Par Page  -->
                      <div>
                        Items per Page:
                        <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>





