<!--profile cover start-->
<div class="row" >
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">

                <div class="picture-container">
                    <div class="picture" *ngFor="let u of user">

                <img  *ngIf="u.membreimage=='imageurl'" src="assets/images/5.png" class="picture-src" id="wizardPicturePreview" title="">
                        <img  *ngIf="u.membreimage!='imageurl'" src="http://127.0.0.1:5010/{{u.membreimage}}" class="picture-src" id="wizardPicturePreview" title="">
                        <input type="file"  (change)="updatePic($event)"  id="wizard-picture" class="">
                    </div>
                     <h6 class="">Choose Picture</h6>

                </div>

            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>{{nom}} {{prenom}}</h2>
                  <span class="text-white">{{role}}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="Informations personnelles">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Mon profile</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6" *ngFor="let u of user">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Nom et prenom </th>
                                    <td>{{nom}} {{prenom}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Sexe</th>
                                    <td>{{u.sexe}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Date de naissance </th>
                                    <td>{{u.date_naissance.slice(0,10)}}</td>
                                  </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table"  *ngFor="let u of user">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Email</th>
                                    <td>{{u.email}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Telephone</th>
                                    <td>{{u.tel}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile" >
                    <div class="row" *ngFor="let u of user">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="table-responsive" >
                                <table class="table" >
                                  <tbody>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <span class="input-group-prepend"><label class="input-group-text"><i class="ti-user"></i></label></span>
                                    <input type="text" class="form-control"  placeholder={{nom}} readonly >
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <span class="input-group-prepend"><label class="input-group-text"><i class="ti-user"></i></label></span>
                                    <input type="text" class="form-control"  placeholder={{prenom}} readonly >
                                  </div>
                                </td>
                              </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i class="ti-email"></i></label></span>
                                          <input type="email" class="form-control"  placeholder={{u.email}}  [(ngModel)]="email" >
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i class="ti-lock"></i></label></span>
                                          <input type="password" class="form-control" placeholder="******" [(ngModel)]="motdepasse"  >
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i class="ti-mobile"></i></label></span>
                                          <input type="number" class="form-control" placeholder={{u.tel}} [(ngModel)]="tel"  >
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                          <div class="text-center">
                            <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20" (click)=Updateuser()>Save</a>
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                          </div>
                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
    </div>
  </div>
</div>
