<div class="col-md-12 col-xl-8">
  <app-card [title]="'Clubs'" [blockClass]="'p-0'">
    <div class="card-comment "  >
      <div class="card-block-small">
        <img class="img-radius img-50" src="assets/images/avatar-1.jpg" alt="user-1">
        <div class="comment-desc" >
          <h6>ff</h6>
          <p class="text-muted ">ffff</p>
          <div class="comment-btn">
            <button class="btn btn-primary btn-skew">Inscrire</button>
          </div>
          <div class="date">
            <i>ff</i>
          </div>
        </div>
      </div>
    </div>
  </app-card>
</div>
