                                        <!--  Breadcrumb card start -->
                                        <div class="card borderless-card">
                                          <div class="card-block " style="background-color: #294a70;">
                                              <div class="breadcrumb-header">
                                                  <h5 style="color: #ffffff;">Club et la vie associative</h5>
                                                 </div>
                                              <div class="page-header-breadcrumb">
                                                  <ul class="breadcrumb-title">
                                                      <li class="breadcrumb-item">
                                                          <a [routerLink]="['/dashboard_club/accueil']" style="color: #ffffff;">
                                                              <i class="icofont icofont-home"></i>  /
                                                          </a>

                                                      <a [routerLink]="['/dashboard_club/liste-demandes']" style="color: #ffffff;">liste des demandes</a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                      <!--  Breadcrumb card end -->
                                  <!--  table starts -->
                                    <div class="card">
                                      <div class="card-header">
                                          <h5>Demandes en attend</h5>
                                          <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                      </div>
                                      <div class="card-block table-border-style">
                                          <div class="table-responsive">
                                            <!--
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>cin</th>
                                                        <th>nom</th>
                                                        <th>prenom</th>
                                                        <th>sexe</th>
                                                        <th>equipe</th>
                                                        <th>age</th>
                                                        <th>email</th>
                                                        <th>motivation</th>
                                                        <th>date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let request of requests">
                                                        <th scope="row">{{request.cin}}</th>

                                                        <td>{{request.nom}}</td>
                                                        <td>{{request.prenom}}</td>
                                                        <td>{{request.sexe}}</td>
                                                        <td>{{request.equipe}}</td>
                                                        <td>{{request.age}}</td>
                                                        <td>{{request.email}}</td>
                                                        <td>{{request.motivation}}</td>
                                                        <td>{{request.date}}</td>
                                                        <td>

                                                        <div ngbDropdown>
                                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                                                         </span>
                                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                                                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                                                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                                                          </div>
                                                        </div>
                                                      </td>
                                                      </tr>

                                                </tbody>
                                            </table>
                                          -->

                                            <table class="table">
                                              <thead>
                                                <tr>
                                                  <th>cin</th>
                                                  <th>nom</th>
                                                  <th>prenom</th>
                                                  <th>sexe</th>
                                                  <th>equipe</th>
                                                  <th>age</th>
                                                  <th>email</th>
                                                  <th>motivation</th>
                                                  <th>date</th>
                                                  <th scope="col">Actions</th>

                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>1</td>
                                                  <td>
                                                    Item

                                                  </td>
                                                  <td>
                                                    Item

                                                  </td>
                                                  <td>
                                                    Item

                                                  </td>
                                                  <td>
                                                    Item

                                                  </td>
                                                  <td>
                                                    Item

                                                  </td>
                                                  <td>
                                                    Item

                                                  </td>
                                                  <td>
                                                    Item

                                                  </td>
                                                   <td>
                                                    Item

                                                  </td>
                                                  <td class="overflow-hidden">
                                                    <div ngbDropdown container="body">
                                                      <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle></button>
                                                      <div ngbDropdownMenu>
                                                        <button ngbDropdownItem><i class="icofont icofont-edit"></i>Edit</button>
                                                        <button ngbDropdownItem><i class="icofont icofont-eye-alt"></i>View </button>

                                                        <div class="dropdown-divider"></div>
                                                        <button ngbDropdownItem><i class="icofont icofont-ui-delete"></i>Delete</button>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                          </div>
                                      </div>
                                  </div>
                                  <!--  table ends -->
