                                        <!--  Breadcrumb card start -->
                                        <div class="card borderless-card">
                                          <div class="card-block inverse-breadcrumb">
                                              <div class="breadcrumb-header">
                                                  <h5>Liste des demandes</h5>
                                                 </div>
                                              <div class="page-header-breadcrumb">
                                                  <ul class="breadcrumb-title">
                                                      <li class="breadcrumb-item">
                                                          <a href="#!">
                                                              <i class="icofont icofont-home"></i>
                                                          </a>
                                                      </li>
                                                      <li class="breadcrumb-item"><a href="#!">Accueil</a>
                                                      </li>
                                                      <li class="breadcrumb-item"><a href="#!">liste des demandes</a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                      <!--  Breadcrumb card end -->
                                  <!--  table starts -->
                                    <div class="card">
                                      <div class="card-header">
                                          <h5>Demandes en attend</h5>
                                          <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                      </div>
                                      <div class="card-block table-border-style">
                                          <div class="table-responsive">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>#</th>
                                                          <th>First Name</th>
                                                          <th>Last Name</th>
                                                          <th>Username</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr class="table-active">
                                                          <th scope="row">1</th>
                                                          <td>Mark</td>
                                                          <td>Otto</td>
                                                          <td>@mdo</td>
                                                      </tr>

                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                                  <!--  table ends -->
