<!-- Data widget start -->

<div class="table-responsive">
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Vote</th>
              <th>Nombres de votes</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <div class="task-contain">
                      <h6 class=" d-inline-block text-center">Oui</h6>

                  </div>
              </td>
              <td>
                  <p style="text-align: center;" >{{NumberOfVotesTrue}}</p>

              </td>
          </tr>
          <tr>
            <td>
                <div class="task-contain">
                    <h6 class=" d-inline-block text-center">Non</h6>

                </div>
            </td>
            <td>
                <p style="text-align: center;">{{NumberOfVotesFalse}} </p>

            </td>
        </tr>
      </tbody>
  </table>
</div>



<!-- data widget End -->
