                                        <!--  Breadcrumb card start -->
                                        <div class="card borderless-card">
                                          <div class="card-block " style="background-color: #294a70;">
                                              <div class="breadcrumb-header">
                                                  <h5 style="color: #ffffff;">Club et la vie associative</h5>
                                                 </div>
                                              <div class="page-header-breadcrumb">
                                                  <ul class="breadcrumb-title">
                                                      <li class="breadcrumb-item">
                                                          <a [routerLink]="['/dashboard_club/accueil']" style="color: #ffffff;">
                                                              <i class="icofont icofont-home"></i>  /
                                                          </a>

                                                      <a [routerLink]="['/dashboard_club/liste-participants']" style="color: #ffffff;">liste des participants</a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                        </div>
                                      <!--  Breadcrumb card end -->
                                      <div class="card">
                                          <div class="card-header">
                                          <h5 style="font-size:1.5rem;">Nom de l'event: {{nomevent}}</h5>
                                          
                                          <div class="card-header-right"> <h5 style="font-size:1.5rem;">Total: {{nombreofparticipation}}</h5> </div>
                                      </div> 
                                      
                                      
                                      
                                      
                                       <div class="card-block table-border-style">

                                        <ngb-tabset>
                                          <!-- posts tab-->
                                  
                                         
                                          <!--Non Confirmés tab-->
                                          <ngb-tab title="Non Confirmés" >
                                            <ng-template ngbTabContent>
                                              <div [@fadeInOutTranslate] class="m-t-15">
                                                <div class="table-responsive" >


                                                  
        
         
                                                  <br>
                                                  
                                                    <h4 style="text-align: center;">Non Confirmés</h4>
                                                  <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Cin</th>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Prénom</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Telephone</th>
                                                        <th scope="col">Etat</th>
                                                        
                                                        <th scope="col"></th>
                                                      </tr>
                                                      <tr  *ngFor="let participant of participants | searchFilter: query | slice: (page-1) * pageSize : page * pageSize ; let i = index " >
                                                        <ng-container *ngIf="participant.statut=='pas confirmé'">
                                                        <th scope="row">{{ i + 1 }}</th>
                                                          <td>{{participant.cin}}</td>
                                                          <td>{{participant.nom}}</td>
                                                          <td>{{participant.prenom}}</td>
                  
                                                          <td>{{participant.email}}</td>
                                                          <td>{{participant.tel}}</td>
                                                          
                                                          <td>{{participant.statut}}</td>
                                                          
                                                           <td>
                                                         
                                                          <div ngbDropdown container="body">
                                                              <button class="btn float-right" ngbDropdownToggle>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                                </svg>
                                                              </button>
                                                              <div ngbDropdownMenu>
          
                                                                <button ngbDropdownItem (click)="confirmer(participant.id_participation,nomevent,participant.email)" >
                                                                  <i class="icofont icofont-check" ></i>Confirmer
                                                                </button>
          
                                                                <button ngbDropdownItem (click)="delete(participant.id_participation)">
                                                                  <i class="icofont icofont-close-line" ></i>Refuser
                                                                </button>
                                                              </div>
                                                            </div>
                                                        </td>
                                                      </ng-container>
                                                      </tr>
                                                    
                                                    </thead>
                                                    <tbody >
                                              
                                                  </tbody>
                                                  </table>
        
        
        
                                                  
                                                  <div class="d-flex justify-content-between p-2">
                                                    <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                                                   >
                                                    </ngb-pagination>
                                                    <!-- Items Par Page  -->
                                                    <div>
                                                      Items per Page:
                                                      <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                                                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                                                          {{ size }}
                                                        </option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                
                                                  
                                                </div>
                                                  </div>
                                                  <!-- end of card-body -->
                                  
                                                <!-- personal card end-->
                                  
                                            </ng-template>
                                          </ngb-tab>
                                          <!--Non Confirmés tab-->
                                                                                    <!--Confirmés tab-->
                                                                                    <ngb-tab title="Confirmés" >
                                                                                      <ng-template ngbTabContent>
                                                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                                                          <div class="table-responsive" >
                                          
                                          
                                                                                            
                                                  
                                                   
                                                                                            <br>
                                                                                            
                                                                                              <h4 style="text-align: center;">Confirmés</h4>
                                                                                            
                                                  <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Cin</th>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Prénom</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Telephone</th>
                                                        <th scope="col">Etat</th>
                                                        
                                                        <th scope="col"></th>
                                                      </tr>
                                                      <tr *ngFor="let participant of participants | searchFilter: query | slice: (page-1) * pageSize : page * pageSize ; let i = index " >
                                                        <ng-container *ngIf="participant.statut=='confirmé'"> 
                                                        <th scope="row">{{ i + 1 }}</th>
                                                          <td>{{participant.cin}}</td>
                                                          <td>{{participant.nom}}</td>
                                                          <td>{{participant.prenom}}</td>
                  
                                                          <td>{{participant.email}}</td>
                                                          <td>{{participant.tel}}</td>
                                                          
                                                          <td>{{participant.statut}}</td>
                                                          
                                                           <td>
                                                         
                                                          <div ngbDropdown container="body">
                                                              <button class="btn float-right" ngbDropdownToggle>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                                </svg>
                                                              </button>
                                                              <div ngbDropdownMenu>
          
                                 
                                                                <button ngbDropdownItem (click)="delete(participant.id_participation)">
                                                                  <i class="icofont icofont-close-line" ></i>Supprimer
                                                                </button>
                                                              </div>
                                                            </div>
                                                        </td>
                                                      </ng-container>
                                                      </tr>
                                                    </thead>
                                                    <tbody >
                                              
                                                  </tbody>
                                                  </table>
        
                                                 
                                                  <div class="d-flex justify-content-between p-2">
                                                    <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                                                   >
                                                    </ngb-pagination>
                                                    <!-- Items Par Page  -->
                                                    <div>
                                                      Items per Page:
                                                      <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                                                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                                                          {{ size }}
                                                        </option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  
                                                  
                                                  
                                                                                            
                                                                                     
                                                                                          
                                                                                            
                                                                                          </div>
                                                                                            </div>
                                                                                            <!-- end of card-body -->
                                                                            
                                                                                          <!-- personal card end-->
                                                                            
                                                                                      </ng-template>
                                                                                    </ngb-tab>
                                                                                    <!--Non Confirmés tab-->
                                        </ngb-tabset>
                                      
                                      </div>
                                      
                                    </div>