.onevent{
  position: relative;

}
.carousel-inner{

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.changeBackground{
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
}
.rightSide{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.leftside{
  position: relative;
  background-color: white;
  width: 40%;
}
.eventName{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 13%;

  align-items: center;
  justify-content: space-between;
  h5{
    padding: 0 !important;
    font-size: 1rem;

  }
  span{
    font-weight: bold;

  }
}
.description{
  position: absolute;
  top: 10px;
  h1{
    font-size: 2rem;
    color:black
  }
}
