 <!-- Start header -->
 <header class="top-header">
  <nav class="navbar header-nav navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['/']"><img src="assets/assets/images/cropped-logo.png" alt="image"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
              <ul class="navbar-nav">
                  <li><a class="nav-link active" [routerLink]="['/']">Accueil</a></li>
                  <li><a class="nav-link" href="about.html">Présentation</a></li>
                  <li><a class="nav-link" href="courses.html">Inscription</a></li>
                  <li><a class="nav-link" href="reaserch.html">Service en ligne</a></li>
                  <li><a class="nav-link" [routerLink]="['accueil/service_en_ligne/clubs']">Clubs</a></li>
                  <li><a class="nav-link" href="contact.html">Contact us</a></li>
              </ul>
          </div>
          <div class="search-box">
              <input type="text" class="search-txt" placeholder="Search">
              <a class="search-btn">
                  <img src="assets/assets/images/search_icon.png" alt="#" />
              </a>
          </div>
      </div>
  </nav>
</header>
<!-- End header -->

<!-- section -->

<div class="section layout_padding padding_bottom-0">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="full">
                  <div class="heading_main text_align_center">
         <h2><span>événements</span></h2>
                  </div>
      </div>
          </div>
  </div>
         <div class="row">
          <div class="col-lg-12">
              <div id="demo" class="carousel slide" data-ride="carousel" *ngFor="let event of events">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="full blog_img_popular">
                                    <img class="img-responsive" src="http://127.0.0.1:5010/{{event.url_image}}" alt="#" />
                                    <h4>{{event.titre_event}}</h4>



                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">


                                 <h5>{{event.date_debut}} à {{event.heure_debut}}</h5>
                                 <h5>{{event.date_fin}} à {{event.heure_fin}}</h5>
                                 <p>{{event.description}}</p>

                            </div>
                          </div>
                      </div>

                  </div>



              </div>
          </div>

      </div>
     </div>
</div>
 <!-- end section -->

<!-- Start Footer -->
<footer class="footer-box">
  <div class="container">

     <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
           <div class="footer_blog">
              <div class="full margin-bottom_30">
                 <img src="assets/assets/images/cropped-logo.png" alt="#" />
               </div>
               <div class="full white_fonts">
                  <p>Institut Supérieur Des Etudes Technologiques De Rades
                      Institut Supérieur Des Etudes Technologiques De Rades</p>
               </div>
           </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
             <div class="footer_blog footer_menu white_fonts">
                      <h3>Liens Rapides</h3>
                      <ul>
                        <li><a href="#">> Join Us</a></li>
                        <li><a href="#">> Maintenance</a></li>
                        <li><a href="#">> Language Packs</a></li>
                        <li><a href="#">> LearnPress</a></li>
                        <li><a href="#">> Release Status</a></li>
                      </ul>
                   </div>
           </div>

           <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

              </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
           <div class="footer_blog full white_fonts">
                       <h3>Contact us</h3>
                       <ul class="full">
                         <li><img src="assets/assets/images/i5.png"><span>London 145<br>United Kingdom</span></li>
                         <li><img src="assets/assets/images/i6.png"><span>demo@gmail.com</span></li>
                         <li><img src="assets/assets/images/i7.png"><span>+12586954775</span></li>
                       </ul>
                   </div>
              </div>

     </div>

  </div>
</footer>
<!-- End Footer -->
<!-------------copy right + js---------------------->
<div class="footer_bottom">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <p class="crp">© Copyrights 2021 ISET Rades</p>
          </div>
      </div>
  </div>
</div>

<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
