  <!-- browser Start -->
  <div class="col-md-6 col-xl-8">
    <app-card [title]="'Browser Stats'">
        <i class="icofont icofont-stylish-right text-danger"></i> Confirmé
        
      <div class="browser-card p-b-15 ">
        <p class="d-inline-block m-0 ">nom event</p>
        <button class="btn bg-c-blue btn-round float-right btn-browser ">Confirmé</button>
      </div>
      <i class="icofont icofont-stylish-right text-danger"></i> Non confirmé
      <div class="browser-card b-t-default p-t-15 p-b-15 ">
        <p class="d-inline-block m-0 ">nom event</p>
        <button class="btn bg-c-pink btn-round float-right btn-browser ">Non confirmé</button>
      </div>
      
    </app-card>
  </div>
  <!-- browser End -->