<!-- browser Start -->
<div class="col-md-6 col-xl-8 getList" >
  <app-card [title]="'Mes événements'" >
    <h5>Total: {{nombreofparticipation}}</h5> <br>


    <i class="icofont icofont-stylish-right text-danger"></i> 
    <div class="browser-card b-t-default p-t-15 p-b-15 "  *ngFor="let participant of participants">
      <div class="containerng" >
      <p class="d-inline-block m-0 ">{{participant.titre_event}}</p>
      <p class="centerDate">Date {{participant.date_debut}}</p>

      <button [ngStyle]="{'background-color':participant.statut === 'confirmé' ? '#4680ff' : '#fc6180' }" class="btn bg-c-pink btn-round float-right btn-browser ">{{participant.statut}}</button>

      </div>
    </div>

  

 

  </app-card>
</div>
<!-- browser End -->