<div class="header">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
      Précédent
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
      Aujourd'hui
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
      Prochain
      </div>
    </div>
  </div>
  <div class="col-md-4 prenevt title"  >
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>

   
   <button class="btn btn-primary float-right" (click)="addEvent()">
     Ajouter event
   </button>
 
 

</div>
<div class="bodyCalander">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [locale]="locale"
      [events]="events"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-month-view>
  </div>
  <div *ngIf="popup"  class="cardEventData">
    <i class="fa fa-close closebtn" (click)=close()></i>

 
    <h1 class="titre"> {{popupData.title}}</h1>
    <h3 class="datededebut">heure de debut: {{popupData.start}}</h3>
     <p class="desc">{{popupData.description}}</p>

  </div>
</div>