<div class="header">
  <div class="col-md-4">
    <div class="btn-group flexpre">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        [refresh]="refresh"
        id="precedent"
        
      >
      Précédent
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        [refresh]="refresh"
        id ="aujourdhui"
      >
      Aujourd'hui
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        [refresh]="refresh"
        id="prochaine"
      >
      Prochaine
      </div>
    </div>
  </div>
  <div class="col-md-4 prenevt title"  >
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>

   
   <button class="btn btn-primary float-right" (click)="addEvent()">
     Ajouter 
   </button>



</div>
<div class="bodyCalander">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [locale]="locale"
      [events]="events"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-month-view>
  </div>
  <div *ngIf="popup"  class="cardEventData">
    
    <i class="fa fa-close closebtn" (click)=close()></i>
    
 
    <h1 class="titre"> {{popupData.title}}</h1>
    <h3 class="datededebut">date  {{popupData.id_event}}</h3>
    <button  class="btn btn-primary float-right" (click)=gotodetails(popupData.id_event)> details</button>
    <button (click)=deleteCAL(popupData.id_calendrier) class="btn btn-primary float-right" >Supprimer</button>
     <!--
       <h3 *ngIf="popupData.heuredebut" class="datededebut">Durée: {{popupData.heuredebut}} - {{popupData.heurefin}}</h3>
     <p class="desc">{{popupData.description}}</p>
     -->
  </div>
  <div *ngIf="add"  class="cardEventData">
    <i class="fa fa-close closebtn" (click)=closevent()></i>
    <!--add to calendrier-->
    <div class="browser-card b-t-default p-t-15" >
      <div class="input-group">
        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
        <input type="date" class="form-control" placeholder="Date " value="" [(ngModel)]="date">
      </div>
      <div class="input-group">
        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
        <input type="time" class="form-control" placeholder="Heure " value="" [(ngModel)]="temps">
      </div>
      <div class="input-group">
        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
        <input type="text" class="form-control" placeholder="Titre " value="" [(ngModel)]="titre">
      </div>
      <div class="input-group">
        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
        <input type="text" class="form-control" placeholder="Description " value="" [(ngModel)]="descriptionCal">
      </div>
      <button  class="btn btn-primary waves-effect waves-light m-r-20" (click)="addTOcalendrier()">Sauvegarder</button>
    </div>
 
    
  </div>
</div>