
<div class="row">
  <div class="col-sm-12 col-xl-8">
    <div class="md-tabs">
      <ngb-tabset>
<!-- posts tab-->

        <ngb-tab title="Publications">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Publications</h5>
                </div>
                <div class="card-body">
                  <!--add post-->
  <div class="row">
    <!-- card1 start -->
    <div class="col-lg-12">
        <div class="card widget-card-1">
            <div class="card-block-small">
              <i class="icofont icofont-ui-home bg-c-blue card1-icon"></i>

                <h6>{{nom}} {{prenom}}</h6>
                <div class="form-group row">
                   <div class="col-sm-11">
                      <input type="text" class="form-control" [(ngModel)]="post"
                      placeholder="votre post">
 <!-- upload file start -->
<input type="file" value=""  [(ngModel)]="post_image" (change)="imagePost($event)">




<!-- upload file -->
       </div>
              </div>
                <div>
                    <span class="f-left m-t-10 text-muted">
                      <button class="btn btn-primary btn-round" (click)=addpost()>Partager</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- card1 end -->
    </div>
    <!--add post-->
                <!--display post-->



            <app-card [title]="'Publication '" [blockClass]="'p-3'" *ngFor="let post of posts " sortBy="post.description">
            <br>
                  <ul class="media-list" >
                    <li class="media">
                      <div class="media-left">
                        <a href="javascript:;">
                          <img class="media-object img-radius comment-img" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
                        </a>
                      </div>
                      <div class="media-body">
                        <div ngbDropdown container="body">
                          <button class="btn float-right" ngbDropdownToggle>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                          </button>
                          <div ngbDropdownMenu >

                            <button ngbDropdownItem (click)="deletePOST(post.id_publication)">
                              <i class="icofont icofont-close-line" ></i>Supprimer
                            </button>
                          </div>
                        </div>
                        <h6 class="media-heading">{{post.nom}}{{post.prenom}}<span class="f-12 text-muted m-l-5">{{post.date}}{{post.heure}}</span></h6>
                        <p class="m-b-0" sortBy={{post.date}}>{{post.description}}</p>


                          <div class="col-lg-10">
                              <img class="img-responsive" src="http://127.0.0.1:5010/{{post.url_image}}" alt="#" />

                          </div>

                        <hr>

                        <!-- display commentaires -->
                        <app-commentaire idpublication={{post.id_publication}}></app-commentaire>
                      <!-- display commentaires -->
                      </div>
                    </li>

                  </ul>

    <!--display post-->

                 <!--add commentaire-->

                  <div class="md-float-material d-flex ">
                    <div class="md-group-add-on p-relative col-lg-12">
                      <div class="input-group input-group-button input-group-primary">

                        <input type="text" class="form-control" placeholder="ecrire votre commentaire" [(ngModel)]="cmtre">
                        <span class="input-group-append"><label class="input-group-text">
                                       <button type="button" class="btn btn-primary" (click)=addcmtre(post.id_publication)><i class="icofont icofont-plus"></i>Publier</button>
                        </label></span>
                      </div>
                    </div>
                  </div>
                     <!--add commentaire-->

                </app-card>

                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
<!-- posts tab-->

<!--events tab-->
        <ngb-tab title="événements">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">événements</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
	<!-- section
  <div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                      <h2><span>Popular </span>Courses</h2>
                    </div>
                </div>
              </div>


        </div>
    </div>
</div>
 end section -->
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
<!--display event-->
                            <div class="col-lg-12">
                              <div class="card fb-card" *ngFor="let event of events" >
                                <div ngbDropdown container="body">
                                  <button class="btn float-right" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                      <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                  </button>
                                  <div ngbDropdownMenu >

                                    <button ngbDropdownItem (click)="deleteEVENT(event.id_event)">
                                      <i class="icofont icofont-close-line" ></i>Supprimer
                                    </button>
                                  </div>
                                </div>
                                <div class="card-header">
                                  <i class="ti-announcement"></i>
                                  <div class="d-inline-block">
                                    <h5>{{event.titre_event}}</h5>
                                    <span *ngIf="event.statut == 0">Gratuit</span>
                                    <span *ngIf="event.statut == 1">Payé</span>
                                  </div>
                                </div>
                                <div class="card-block text-center">
                                  <div class="row">

             <div class="col-md-4">
              <div class="full blog_img_popular">
                  <img class="img-responsive" src="http://127.0.0.1:5010/{{event.url_image}}" alt="#" />
                   <h4>{{event.titre_event}}</h4>
              </div>
            </div>
                                    <div class="col-6">
                                      <h5 style="color:blue; align-self: left;">{{event.date_debut}} à {{event.heure_debut}}</h5> <br>
                                      <h5 style="color:blue;">{{event.date_fin}} à {{event.heure_fin}} </h5>
                                      <p class="text-muted">{{event.description}}</p>
                                      <p >{{event.url_event}}</p>

                                    </div>
                                  </div>
                                </div>
                              </div>
          <!--display event-->
                            </div>
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Titre " value="" [(ngModel)]="titre_event">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="ti-gallery"></i></label></span>
                                        <input type="file" class="form-control" value="" placeholder="upload image de l'événement" (change)="image($event)">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="form-radio">
                                        <div class="group-add-on">
                                          <div class="radio radiofill radio-inline">
                                            <label>
                                              <input type="radio" name="statut" value="0" [(ngModel)]="statut" checked><i class="helper"></i> Gratuit
                                            </label>
                                          </div>
                                          <div class="radio radiofill radio-inline">
                                            <label>
                                              <input type="radio" name="statut" value ="1" [(ngModel)]="statut" ><i class="helper"></i> Payé
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>

                                    <td>
                                      <label class="text-primary">Date debut</label>
                                      <input id="dropper-default" class="form-control" type="date" value="" placeholder="date de debut" [(ngModel)]="date_debut" />
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label class="text-primary">Date fin</label>
                                      <input id="dropper-default" class="form-control" type="date" value="" placeholder="date de fin" [(ngModel)]="date_fin" />
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-location-pin"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Description" value="" [(ngModel)]="description">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label class="text-primary">Heure de debut</label>
                                      <input id="dropper-default" class="form-control" type="time" value="" placeholder="heure de debut" [(ngModel)]="heure_debut" />
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label class="text-primary">Heure fin</label>
                                      <input id="dropper-default" class="form-control" type="time" value="" placeholder="heure de fin" [(ngModel)]="heure_fin" />
                                    </td>
                                  </tr>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-prepend"><label class="input-group-text"><i class="ti-link"></i></label></span>
                                      <input type="text" class="form-control" value="" placeholder="lien de participer" [(ngModel)]="url_event">
                                    </div>
                                  </td>
                                </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

                          </div>
                          <!-- end of row -->
                          <div class="text-center">
                            <button  class="btn btn-primary waves-effect waves-light m-r-20" (click)="addevent()">Sauvegarder</button>
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Annuler
                              </a>
                          </div>
                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->


                </div>
                <!-- end of card-body -->

              <!-- personal card end-->

          </ng-template>
        </ngb-tab>
        <!-- events tab-->
      </ngb-tabset>
    </div>

  </div>
  <!-- calendar-->


<div class="col-md-12 col-xl-4">
   <!-- browser Start -->
   <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="open()">
    <i class="icofont icofont-ui-add"></i>
  </button>


    <app-card [title]="'Calendrier'"  >
<i class="icofont icofont-stylish-right text-danger"></i> événements
    <div *ngIf="add">
      <div class="browser-card b-t-default p-t-15" *ngFor="let event of events">
        <p class="d-inline-block m-0 ">{{event.titre_event}}</p>
        <label class="btn bg-c-yellow btn-round float-right btn-browser ">{{event.date_debut}}</label>
        <label class="btn bg-c-blue btn-round float-right btn-browser ">{{event.heure_debut}}</label>
      </div>
    </div>
  <i class="icofont icofont-stylish-right text-danger"></i> autres
    <div *ngIf="add">
      <div class="browser-card b-t-default p-t-15" *ngFor="let task of tasks">
        <button class="badge badge-inverse-info" (click)="deleteCAL(task.id_calendrier)"><i class="icofont icofont-close-line" ></i></button>
        &nbsp;
        <p class="d-inline-block m-0 ">{{task.description}}</p>
        <label class="btn bg-c-yellow btn-round float-right btn-browser ">{{task.date}}</label>
        <label class="btn bg-c-blue btn-round float-right btn-browser ">{{task.temps}}</label>

      </div>
    </div>
    <!--add to calendrier-->
      <div class="browser-card b-t-default p-t-15" *ngIf="!add">
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="date" class="form-control" placeholder="Date " value="" [(ngModel)]="date">
        </div>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="time" class="form-control" placeholder="Heure " value="" [(ngModel)]="temps">
        </div>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control" placeholder="Description " value="" [(ngModel)]="descriptionCal">
        </div>
        <button  class="btn btn-primary waves-effect waves-light m-r-20" (click)="addTOcalendrier()">Sauvegarder</button>
   </div>
    </app-card>


  <!-- browser End -->
  <!--<div class="card fb-card">
    <div class="card-header">
      <i class="ti-calendar"></i>
      <div class="d-inline-block">
        <h5>Calendrier</h5>

      </div>
    </div>
    <div class="card-block text-center">
      <div class="row">

      </div>
    </div>
  </div>-->
  <!-- sondage -->
  <!-- add sondage -->
  <div class="card widget-statstic-card">
    <div class="card-header">
      <div class="card-header-left">
        <h4>Ajouter Sondage</h4>
        <input type="text" class="form-control" [(ngModel)]="title"
        placeholder="ecrire description"> <br>
        <button class="btn btn-mat btn-primary " (click)=addsondage()>Publier</button>
      </div>
    </div>

  </div>

<!-- add sondage -->
<!-- display sondage -->

<div class="card widget-statstic-card" *ngFor="let sondage of sondages">
  <div class="card-header">
    <div class="card-header-left">
      <h4>Sondage</h4>
      <h6>{{sondage.titre}}</h6>
      <p class="p-t-10 m-b-0 text-c-blue">{{sondage.date_sondage}} {{sondage.heure_sondage}}</p>
    </div>
  </div>
  <div class="card-block">

    <i (click)="deleteSONDAGE(sondage.id_sondage)"  class="icofont icofont-close-line st-icon bg-c-blue txt-lite-color"></i>



    <div class="text-left">
      <form #f="ngForm">
        <div class="radio">
          <label>
              <input type="radio"

                     [ngValue]="true"
                     id="true"
                     (change)="voter(true,sondage.id_sondage)"
                     name="vote"  >Oui
          </label>

          </div>
          <div class="radio">
            <label>
              <input type="radio"
                     value="false"

                     id="true"
                     (change)="voter(false,sondage.id_sondage)"
                     name="vote">non
          </label>
           </div>
</form>
<p class="text-danger">{{ message }}</p>
                                            <!-- Data widget start -->
                                            <div class="card-block p-b-10">
                                              <div class="table-responsive">
                                                  <table class="table table-hover" *ngFor="let vote of vote">
                                                      <thead>
                                                          <tr>
                                                              <th>Vote</th>
                                                              <th>Nombres de votes</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>
                                                                  <div class="task-contain">
                                                                      <h6 class="bg-c-blue d-inline-block text-center">Oui</h6>
                                                                      <p class="d-inline-block m-l-20">OUI</p>
                                                                  </div>
                                                              </td>
                                                              <td>
                                                                  <p class="d-inline-block m-r-20">{{vote}}</p>
                                                                  <div class="progress d-inline-block">
                                                                      <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                                                      </div>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                            <td>
                                                                <div class="task-contain">
                                                                    <h6 class="bg-c-pink d-inline-block text-center">Non</h6>
                                                                    <p class="d-inline-block m-l-20">Non</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p class="d-inline-block m-r-20">4 : 36</p>
                                                                <div class="progress d-inline-block">
                                                                    <div class="progress-bar bg-c-pink" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                      </tbody>
                                                  </table>
                                              </div>
                                          </div>

<p  *ngIf="f.value==true">vous avez voté avec oui . </p>
<p  *ngIf="f.value==false">vous avez voté avec non .</p>

    </div>
  </div>
</div>
<!-- display sondage -->
<!--  sondage -->
</div>
<!-- calendar -->

</div>



